main.content-image{
  width: 80%;
  max-width: 900px;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 70%;
  max-height: 600px;

  padding: 10px;

  border: none;

  box-shadow: 0px 0px 5px 5px cornflowerblue;
}

.content-image .slide-show{
  width: 500px;
  height: 300px;

  overflow: hidden;
  margin: 0 auto;
 
  position: relative;

}

.slide-show .image{
  width: 500px;
  height: 300px;

  position: absolute;

  opacity: 0;
  transition: all 500ms;

  animation-name: slide;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.image img{
  width: 500px;
  height: 300px;
}
.slide-show .image.selected{
  opacity: 1;
}


.slide-show #back::after, .slide-show #next::after{
  content: "\2190"; 

  display: block;
  width: 20px;
  height: 10px;
  cursor: pointer;
}

.slide-show #next::after {
  content: "\2192";
}


.slide-show #back, .slide-show #next{
  position: absolute; 
}

.slide-show #back{
  left: 0px;
  top:50%;
}

.slide-show #next{ 
  right: 0px;
  top:50%;

  z-index: 999;
}

@keyframes slide{
  1% {
    transform: scale(1 , 1);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}






